@import url("./3-header.css");
@import url("./3-footer.css");

body {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
	text-align: center;
	line-height: 60px;
}
