.filters {
	display: flex;
	background-color: white;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	position: relative;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	border: none;
	position: absolute;
	right: 30px;
}

button:hover {
	opacity: 90%;
}
