.places {
	margin: 30px auto;
	max-width: 1000px;
	text-align: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	font-size: 30px;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.places h2 {
	font-size: 30px;
	margin: auto;
	width: 50%;
}

.places article {
	display: flex;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
	justify-content: center;
}
